@import './common';
@import './logo';
@import './searchBar';

.header {
  background-color: $background-color;
  height: 50px;
  padding: 30px;
  border-bottom: 1px solid $primary-color;

  .logo-search-bar-spacer {
    display: inline-block;
    // width: 50px;
  }
}
