.header {
    height: 50px;
    padding: 30px;
    background-color: $background-color;
    border-bottom: 5px solid $primary-color;

    .logo {
        height: 80px;
        position: relative;
        top: -10px;
        left: -20px;
    }

    .search-form {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
    }

    .search-bar {
        height: 48px;
        width: 500px;
        padding: 0 0 0 20px;
        border: 1px solid $primary-color;
    }

    .search-submit {
        vertical-align: top;
        height: 50px;
        padding: 0px 15px;
        background-color: $primary-color;
        border: 0px;
        font-weight: bold;
        color: #111;
    }
}
