.header {
    height: auto;
    padding: 2% 0% 0% 2%;
    background-color: $background-color;
    border-bottom: 1px solid $primary-color;

    .logo {
        height: auto;
        width: 10%;
        position: relative;
        top: -10px;
        left: -20px;
    }

    .search-form {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
    }

    .search-bar {
        height: 48px;
        width: 500px;
        padding: 0 0 0 20px;
        border: 1px solid $primary-color;
    }

    .search-submit {
        vertical-align: top;
        height: 50px;
        padding: 0px 15px;
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        font-weight: bold;
        color: #111;
    }
}
