@import './common.scss';
@import './header.scss';
@import './side-bar.scss';
@import './results.scss';
@import './footer.scss';
@import './landing.scss';

body {
    margin: 0;
    padding: 0;
}

body, input, li, h1, h2, h3 {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
    line-height: 1.25;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.content {
    flex: 1 100%;
    display: flex;
    flex-flow: row nowrap;
}