@import './common';

.search-bar {
    display: inline-block;
    height: 50px;
    vertical-align: top;

    .search-field {
        height: 48px;
        width: 500px;
        padding: 0px;
        border: 1px solid #4A86E8;
    }

    .search-submit {
        height: 50px;
        padding: 0px 15px;
        background-color: $primary-color;
        border: 0px;
        font-weight: bold;
    }
}