@import './header';
@import './sideBar';
@import './content';

body {
  margin: 0;
  padding: 0;
}


* {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
}

.selected {
    color: #4F81BD
}