.side-bar {
    background-color: $secondary-color;
    border-right: 0px solid $primary-color;
    padding: $sideBar-padding-top 0px 0px $sideBar-padding-left;
    flex: 1;

    .filter:not(:last-child) {
        margin-bottom: 15px;
    }

    .filter-name {
        margin: 4px;
    }

    .filter-list {
        list-style: none;
        padding: 0px;
        margin: 4px;
        line-height: 100%;
    }

    .option {
        cursor: pointer;

        &.selected {
            color: #527ACC;
        }

        &:hover {
            color: #8FA3CC;
        }
    }
}
