@import './common.scss';
@import './filters';

.side-bar {
  background-color: $secondary-color;
  float: left;
  width: $sideBar-width;
  height: 100%;
  border-right: 1px solid $primary-color;
  padding: $sideBar-padding-top 0px 0px $sideBar-padding-left ;
}
