.side-bar {
    background-color: $secondary-color;
    float: left;
    width: $sideBar-width;
    border-right: 1px solid $primary-color;
    padding: $sideBar-padding-top 0px 0px $sideBar-padding-left;

    .filter:not(:last-child) {
        margin-bottom: 15px;
    }

    .filter-name {
        margin: 0px;
    }

    .filter-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
}
